{
  "extends": "airbnb",
  "globals": {
    "Alt": true,
    "Immutable": true,
    "request": true,
    "_": true,
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true
  },
  "rules": {
      "newline-after-var": 2,
      "no-multiple-empty-lines": [2, {"max": 2}],
      "id-length": [2, {
          "min": 2,
          "exceptions": ["_"]
        }
      ],
      "new-cap": [2, {
          "newIsCap": true,
          "capIsNewExceptions": ["Radium"],
        }
      ],
  }
}
